<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wojiushiwo.spring.security.demo.mapper.MyUserDetailsMapper">


    <select id="findByUserName" resultType="com.wojiushiwo.spring.security.demo.model.MyUserDetails">
        select username,password,enabled
        from sys_user
        where username=#{userName};
    </select>

    <select id="findByUserMobile" resultType="com.wojiushiwo.spring.security.demo.model.MyUserDetails">
        select username,password,enabled
        from sys_user
        where phone=#{mobile};
    </select>
</mapper>
